{# Extends the "layout.html" so this template inherits its structure and formatting #}
{% extends "layout.html" %}

{# Begins the content block that is defined in "layout.html" #}
{% block content %}

<div class="panel panel-default m-2">
    <div class="panel-heading">Bundesliga</div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
                <form id="myForm">
                    <div class="col-md-4">
                        <div class="form-group">
                            {# Dropdown list to select the start club #}
                            <select class="form-select select_sy" required id="select_start" name="select_start">
                                <option disabled selected>Start von</option>
                                {# Loop through the list of clubs and add them as options #}
                                {% for club in clubs %}
                                <option value="{{club.id}}">{{club.id}} {{club.stadt}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            {# Dropdown list to select the target club #}
                            <select class="form-select select_sy" required id="select_ziel" name="select_ziel">
                                <option disabled selected>Ziel</option>
                                {% for club in clubs %}
                                <option value="{{club.id}}">{{club.id}} {{club.verein}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            {# Dropdown list to select the maximum distance #}
                            <select class="form-select select_sy" id="max_distance" required name="max_distance">
                                <option disabled selected>Maximale Entfernung</option>
                                {% for max__distance in range(100, 1800, 50) %}
                                <option value="{{max__distance}}">{{max__distance}} KM</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            {# Dropdown list to select the budget #}
                            <select class="form-select select_sy" id="budget" name="budget">
                                <option disabled selected>Budget</option>
                                {% for bugg in range(100, 5000, 50) %}
                                <option value="{{bugg}}">{{bugg}} Euro</option>
                                {% endfor %}
                            </select>
                        </div>

                        {# Send button that calls the "sendFormData()" function when clicked #}
                        <button class="btn btn-primary" type="button" onclick="sendFormData()">GO GO GO ...</button>
                    </div>
                </form>

                {# Container to display decision information #}
                <div class="col-md-4 alert alert-info not_show" id="entscheidung_content"></div>

                {# Container to display the Bundesliga tree #}
                <!--<div class="col-md-4">
                    <img src="../static/imags/bundesliga_baum.png" width="430" />
                </div>-->
            </div>
        </div>
    </div>

    <div id="mapdiv">
    </div>
    {# Table to display the clubs and their distances #}
    <!--<table class="table">
        <tr>
            <th>Club</th>
            <th>Distance</th>
        </tr>
        {% for club in clubs %}
        <tr>
            <td>{{club.verein}}</td>
            <td>
                {% for distance in club.distances %}
                <p>{{distance.other.verein}} = {{distance.distance_in_km}} Km</p>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>-->
</div>
{# Tips and links for further information #}

{# Ends the content block #}
{% endblock %}