{% extends "layout.html" %}

{% block content %}
<div class="panel panel-default m-2">
    <div class="panel-heading">Bundesliga</div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
                <form id="myForm">
                    <div class="col-md-4">
                        <div class="form-group">
                            <!--<label>Start</label>-->
                            <select class="form-select select_sy" required id="select_start" name="select_start">
                                <option disabled selected>Start von</option>
                                {% for club in clubs %}
                                <option value="{{club.id}}">{{club.id}} {{club.verein}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <!--<label>Bevorzugtes Team</label>-->
                            <select class="form-select select_sy" required id="select_ziel" name="select_ziel">
                                <option disabled selected>Bevorzugtes Team</option>
                                {% for club in clubs %}
                                <option value="{{club.id}}">{{club.id}} {{club.verein}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-select select_sy" id="max_distance" required name="max_distance">
                                <option disabled selected>Maximale Entfernung</option>
                                {% for max__distance in range(100, 1800, 50) %}
                                <option value="{{max__distance}}">{{max__distance}} KM</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-select select_sy" id="budget" name="budget">
                                <option disabled selected>Budget</option>
                                {% for bugg in range(100, 5000, 50) %}
                                <option value="{{bugg}}">{{bugg}} Euro</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-primary" type="button" onclick="sendFormData()">Send Form Data</button>
                    </div>
                </form>
                <div class="col-md-4 alert alert-info not_show" id="entscheidung_content">
                </div>
                <div class="col-md-4">
                    <img src="../static/imags/bundesliga_baum.png" width="450" />
                </div>
            </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>verein</th>
        <th>distance</th>
    </tr>
    {% for club in clubs %}
    <tr>
        <td>{{club.verein}}</td>
        <td>
            {% for distance in club.distances %}
            <p>{{distance.other.verein}} = {{distance.distance_in_km}} Km</p>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
